/* Our Cients */
.our-clients-container {
  @extend %container;
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
  padding: 94px 0 94px 0;
    }
  }
  .our-clients-header {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: $secondaryTextColor;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
    }
  }
  .our-clients-list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (min-width: 320px) {
        margin: -15px;
        }
  }
  .our-clients-item {
    @media screen and (min-width: 320px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
}
    @media screen and (min-width: 768px) {
    width: calc((100% - 6 * 15px) / 3);
  }
    @media screen and (min-width: 1200px) {
          width: calc((100% / 6 - 2 * 15px));
    }

  }
  .our-clients-link {
    @extend %link;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    transition: border-color $primaryAnimation,
    fill $primaryAnimation;
    &:hover,
    &:focus {
      border-color: $accentColor;
    }
    
    &:hover .our-clients-photo,
    &:focus .our-clients-photo {
      fill: $accentColor;
    }
  }
  .our-clients-photo {
    fill: #afb1b8;
  }