//   Header
.page-header__container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ececec;
    @extend %container;
}

.logo__secondary {
@include logoColor(#000000);
}

.page-header_contacts {
    
    // 
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 84px;
  }
  
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 305px;
  }
}
.page-header__mail {
  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}
.page-header__mail,
.page-header__contact {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $primaryTextColor;
    @extend %link;
    transition: color $primaryAnimation;
  
  &:hover,
  &:focus,
  &:hover,
  &:focus {
    color: $accentColor;
  }

    @media screen and (min-width: 1200px) {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        // text-decoration: none;
        color: $primaryTextColor;
    }
}

.page-header__icon-mail,
.page-header__icon-phone {
  display: flex;
  align-items: center;
  margin-right: 8px;
  align-items: center;
  fill: currentColor; 
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__icon-phone {
    width: 10px;
    height: 16px;
  }
  .page-header__icon-mail {
    width: 16px;
    height: 12px;
  }
    }
