/* Main Quality */
  .main-quality {
    padding: 60px 15px;
    @media screen and (min-width: 1200px) {
      padding: 94px 15px;
    }
  }
.main-quality-container {
    @extend %container;
  }
  
  .main-quality-list {
    @extend %list;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (min-width: 320px) {}
      margin: -15px;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px) {}
  }
  .main-quality-item {
    @media screen and (min-width: 320px) {
    margin: 15px;
    }
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: calc((100% / 2 - 4 * 15px));
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% / 4 - 2 * 15px));
    }
}
.main-quality-card {
      align-items: center;
      text-align: center;
      padding: 25px 0;
      background: #f5f4fa;
      border-radius: 4px;
      margin-bottom: 30px;
  }

  .main-quality-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: $secondaryTextColor;
     margin-bottom: 10px;
  }
  .main-quality-descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    color: $primaryTextColor;
  }