/* Main Team */
// @media screen and (min-width: 480px) {}
// @media screen and (min-width: 768px) {}
// @media screen and (min-width: 1200px) {}
.main-team {
    background-color: #f5f4fa;
    padding: 60px 0;
    @media screen and (min-width: 1200px) {
      padding: 94px 0;
    }
  }
  .main-team-container {
    @extend %container;
  }
  .main-team-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: $secondaryTextColor;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    }
  }
  .main-team-list {
    @extend %list;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: -15px;
    @media screen and (min-width: 320px) {
    
    }
    @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    // align-items: center;
    }
    @media screen and (min-width: 1200px) {}

  }
  .main-team-item {
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
margin: 15px;
        // margin-bottom: 30px;
        
        // &:last-child {
        //   margin-bottom: 0;
        // }
      // @media screen and (min-width: 320px) and (min-width: 767px) {

      // }
      
      @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: calc((100% - 4 * 15px) / 2);
        // width: 354px;
      // margin-bottom: 0;
      // &:nth-child(odd) {
      // margin-right: 30px;
      // }
      // &:nth-child(-n+2) {
      //   margin-bottom: 30px;
      // }
      }
      @media screen and (min-width: 1200px) {
        width: calc((100% / 4 - 2 * 15px));
        // width: 270px;
        // margin-bottom: 0;
        // margin-right: 30px;
        // &:last-child {
        //   margin-right: 0;
        //   }
        }
  }
  .main-team-card {
    padding-top: 30px;
    padding-bottom: 16px;
  }
  .main-team-names {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: $secondaryTextColor;
  }
  .main-team-descr {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }
  .social-container {
    // margin-top: 0px;
    // margin-bottom: 24px;
      @media screen and (min-width: 320px) {}
        margin-bottom: 24px;
      @media screen and (min-width: 768px) {

      }
      @media screen and (min-width: 1200px) {
      // margin-top: 0px;
      // margin-left: 32px;
      margin-bottom: 30px;
    }
    
  }
  .social-list {
    display: flex;
    justify-content: center;
    @extend %list;

  }
  .social-list-item {

    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }

  .social-item-link {
    @extend %link;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background: #fff;
  
    border-radius: 50%;
    transition: background-color $primaryAnimation,
    fill $primaryAnimation;
    &:hover,
    &:focus {
      background-color: $accentColor;
    }
    &:hover .social-link-photo,
    &:focus .social-link-photo {
      fill: #ffffff;
    }
  }
  .social-link-photo {
    fill: #afb1b8;
  }

