// main font
 $primaryFont: 'Roboto', sans-serif;
 $secondaryFont: 'Raleway', sans-serif;
// Text color
$primaryTextColor:  #757575;
$secondaryTextColor: #212121;
// Accent color
$accentColor: #2196f3;
$secondary-accent-color: #188ce8;
// Animation
$primaryAnimation: 250ms cubic-bezier(0.4, 0, 0.2, 1);